.input{
    font-size: 300;
}

ion-item{
    --background:#f1f1f1;
    border-radius:10px;
    margin-bottom:16px;
}

ion-content{
    background-color: aqua;
}

.header{
    margin-top:100px;
    margin-bottom:80px;
    text-align: center;
.subtitle{
    color: gray;
    font-size: 1rem;
}
.title{
    font-size: 2rem;
}

}

.signup{
    display: flex;
    margin:auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 1rem;
    width: 80%;
    right: 0;
    p{
        font-size: 1rem;
    }   
}

.forgetpassword{
  
    display: flex;
    // flex-content: flex-end;
   justify-content: flex-end;
   position: relative;
   top: 1rem;
    a{
        font-size: 1rem;
        font-weight: 400;
    }
}